<div ng-controller="view.content.HomeController">

    <div class="row small-centered">

        <div class="small-6 columns panel small-centered" ng-hide="createMode">
            <a ng-click="createMode = !createMode">Register?</a>
            <input
                type="text"
                placeholder="Email"
                ng-model="emailAddress"
                >
            <input
                type="password"
                placeholder="Password"
                ng-model="password"
                >
            <button ng-click="login()">Login</button><br>
            <a ng-click="forgotPassword()">Forgot Password?</a>
        </div>

        <div class="small-6 columns panel small-centered" ng-show="createMode">
            <a ng-click="createMode = !createMode">Login?</a>
            <input
                    type="text"
                    placeholder="Email"
                    ng-model="emailAddress">
            <input
                    type="password"
                    placeholder="Password"
                    ng-model="password">
            <button ng-click="createUser()">Create User</button><br>
            <a ng-click="forgotPassword()">Forgot Password?</a>
        </div>

    </div>



</div>